* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    font-family: "Segoe UI", sans-serif;
}

.content {
    text-align: center;
    padding: 100px 20px 60px;
}
.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.content p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.5;
}


.sosmed-icon:hover {
    transform: scale(1.1);
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1.5s ease-in-out;
}

.logo-container img {
    width: 500px;
    max-width: 200%;
    height: auto;
    margin-bottom: 50px;
    box-shadow: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.logo-container img:hover {
    transform: scale(1.05);
}

.logo-container h2 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Animasi fade-in saat halaman dimuat */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
